body, a {
 font-family: arial;
}

a {
  color: #000;
  opacity: 0.75;
  font-size: 13px;
  text-decoration: none;
  height: 25px;
}

/* HEADER */
header {
  display: flex;
  margin: 20px 1px auto 20px;
  justify-content: space-between;
  align-items: center;

}
.left .right {
  text-align: center;
}

.iconsRight {
  display: inline-block;
  vertical-align: middle;
}

#app {
  width: 25px;
  line-height: 28px;
  vertical-align: -8px;
}

.login {
  line-height: 28px;
  border: 1px solid #4285f4;
  font-weight: bold;
  color: #fff;
  outline: none;
  background: #4285f4;
  padding: 0 12px;
  border-radius: 2px;
}

/* Search Bar */
#google {
  display: block;
  padding-top: 109px;
  margin: 0 auto;
}

#google-search {
  width: 482px;
  height: 44px;
  display: block;
  margin: 2rem auto;
  border-radius: 25px;
  border: 1px solid #c6c6c6;
  background: no-repeat 3.5%/3% url(/home/threehundo/github/odin_on_rails/google_mockup/img/mag.png),
  no-repeat 97.5%/5% url(/home/threehundo/github/odin_on_rails/google_mockup/img/mic.png);
  padding-left: 30px;
}

.buttons {
  margin: 0 auto;
  width: 265px;
}
.buttons button {
  display: inline-block;
  line-height: 28px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  height: 36px;
  margin: auto 4px;
  font-size: 14px;
}
